.welcome
  position: relative
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  flex-direction: column
  justify-content: center
  height: 70vh
  overflow: hidden

  +breakpoint($medium-screen)
    height: 100vh
    padding: 0

  video
    display: none
    min-width: 100%
    width: auto
    height: auto
    object-fit: fill
    +breakpoint($medium-screen)
      display: flex
      flex: 1

  .inner
    position: absolute
    padding: 0 $base-spacing $base-spacing $base-spacing

  h1
    text-transform: none
    // max-width for IE flex bug https://github.com/philipwalton/flexbugs#2-column-flex-items-set-to-align-itemscenter-overflow-their-container
    max-width: 100%

  .logo
    min-width: 100%
    max-height: 75px
    margin-bottom: $base-spacing

  .scroll-arrow
    position: absolute
    bottom: 0
    margin-left: auto
    left: -1em
    margin-left: 50%

    img
      display: block
      width: 2em
