button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #000;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "PT Mono", monospace;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
    background-color: black;
    color: #fff; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #000; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "PT Mono", monospace;
  font-size: 1em; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: black; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #000;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(0, 0, 0, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #000; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #666666; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid black;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #000;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #000;
  font-family: "PT Mono", monospace;
  font-size: 1em;
  line-height: 1.5;
  font-weight: normal; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Mono", monospace;
  font-size: 1.25em;
  line-height: 1.2;
  font-weight: normal;
  margin: 0 0 0.75em; }

h1,
h2,
h4 {
  text-transform: uppercase;
  letter-spacing: 1px; }

h4 {
  font-size: 1em;
  margin-bottom: 0.375em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 150ms ease;
  letter-spacing: 1px; }
  a:active, a:focus, a:hover {
    color: gray; }

hr {
  border-bottom: 1px solid #000;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol,
ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
td,
th {
  text-align: left;
  vertical-align: middle; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none; }

a img {
  border: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

fieldset {
  margin: 0 0 30px; }

input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
select,
textarea {
  font-size: 18px;
  font-family: "PT Mono", monospace;
  display: inline-block;
  vertical-align: middle;
  height: 44px;
  border: 1px solid #000;
  padding: 5px 10px;
  margin: 0;
  color: #000;
  width: 100%;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }

input[type=date].small,
input[type=email].small,
input[type=number].small,
input[type=password].small,
input[type=search].small,
input[type=tel].small,
input[type=text].small,
select.small,
textarea.small {
  width: 75px; }

input[type=date].medium,
input[type=email].medium,
input[type=number].medium,
input[type=password].medium,
input[type=search].medium,
input[type=tel].medium,
input[type=text].medium,
select.medium,
textarea.medium {
  width: 200px; }

input[type=date].large,
input[type=email].large,
input[type=number].large,
input[type=password].large,
input[type=search].large,
input[type=tel].large,
input[type=text].large,
select.large,
textarea.large {
  width: 400px; }

input[type=date]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
select:focus,
textarea:focus {
  border-color: #869496; }

input[type=date].disabled,
input[type=date]:disabled,
input[type=email].disabled,
input[type=email]:disabled,
input[type=number].disabled,
input[type=number]:disabled,
input[type=password].disabled,
input[type=password]:disabled,
input[type=search].disabled,
input[type=search]:disabled,
input[type=tel].disabled,
input[type=tel]:disabled,
input[type=text].disabled,
input[type=text]:disabled,
select.disabled,
select:disabled,
textarea.disabled,
textarea:disabled {
  background-color: #f3f4f4;
  cursor: not-allowed; }

textarea {
  resize: vertical;
  height: 4.5em; }

textarea.medium-height {
  height: 240px; }

textarea.large-height {
  height: 480px; }

input[type=checkbox],
input[type=radio] {
  margin: 5px 0 0;
  padding: 0;
  line-height: normal; }

select {
  font-size: 18px;
  position: relative;
  background-image: url(../icons/dropdown.png);
  background-position: center right;
  background-repeat: no-repeat;
  background-color: #fff;
  padding: 5px 10px;
  padding-right: 30px;
  height: 44px;
  width: 100%;
  text-indent: .01px;
  text-overflow: "";
  -webkit-appearance: none; }

select[multiple] {
  background-image: none;
  padding-right: 10px; }

select::-ms-expand {
  display: none; }

select.disabled,
select:disabled,
select[disabled] {
  cursor: default;
  opacity: .35; }

select.medium,
select.small {
  height: 22px;
  padding: 0 22px 0 2px;
  -moz-background-size: 24px;
  -o-background-size: 24px;
  -webkit-background-size: 24px;
  background-size: 24px; }

select.medium-height {
  height: 240px; }

select.large-height {
  height: 480px; }

label {
  display: inline-block;
  padding: 5px 0 1px;
  margin-right: 5px;
  cursor: pointer;
  margin-bottom: 0; }

label input[type=checkbox],
label input[type=radio] {
  float: left;
  margin-right: 5px; }

.block-label {
  display: block; }

button,
input[type=button],
input[type=reset],
input[type=submit] {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  margin: 10px 0 0;
  padding: 8px 20px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  border: 1px solid 1px solid #000;
  cursor: pointer;
  transition: all .1s ease-in-out 0s;
  background-color: transparent;
  border-color: #fff; }

button:focus,
button:hover,
input[type=button]:focus,
input[type=button]:hover,
input[type=reset]:focus,
input[type=reset]:hover,
input[type=submit]:focus,
input[type=submit]:hover {
  border-color: #a0901f; }

button:active,
input[type=button]:active,
input[type=reset]:active,
input[type=submit]:active {
  border-color: #756a17; }

@media (max-width: 320px) {
  button,
  input[type=button],
  input[type=reset],
  input[type=submit] {
    display: block;
    width: 100%; } }

.form-field {
  margin-bottom: 5px; }

.form-buttons {
  margin-top: 15px; }

.form-validation-error {
  display: inline-block;
  vertical-align: top; }

.form-validation-error label {
  color: #d16147; }

.form-validation-error input,
.form-validation-error select,
.form-validation-error textarea {
  border-color: #d16147;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }

.form-validation-error .form-validation-error-message {
  display: block; }

.form-validation-error-message {
  display: none;
  padding: 10px 10px 11px;
  background-color: #d16147;
  color: #fff; }

.form-validation-error-message .fa {
  margin-right: 3px; }

.form-hint {
  color: #4a5f62;
  font-style: italic; }

.input-group {
  position: relative;
  display: table;
  border-collapse: separate; }

.input-group .form-control {
  display: table-cell;
  width: 100%;
  margin-bottom: 0;
  border-right: none; }

.input-group-button a,
.input-group-button button,
.input-group-button input {
  margin: 0; }

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-button:first-child > .button,
.input-group-button:first-child > .button-primary,
.input-group-button:first-child > .button-secondary,
.input-group-button:first-child > .dropdown-toggle,
.input-group-button:first-child > button,
.input-group-button:first-child > input[type=button],
.input-group-button:first-child > input[type=submit],
.input-group-button:last-child > .button:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-button:first-child > .button-primary,
.input-group-button:first-child > .button-secondary,
.input-group-button:first-child > .button:not(:first-child),
.input-group-button:last-child > .button,
.input-group-button:last-child > .dropdown-toggle,
.input-group-button:last-child > button,
.input-group-button:last-child > input[type=button],
.input-group-button:last-child > input[type=submit] {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.input-group-button {
  position: relative;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
  text-align: left; }

.button {
  display: block;
  padding: 0 20px;
  height: 62px;
  line-height: 62px;
  font-family: "Vast Shadow", cursive;
  background-color: #9C1942;
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  -moz-transition: background-color 150ms ease-out;
  -o-transition: background-color 150ms ease-out;
  -webkit-transition: background-color 150ms ease-out;
  transition: background-color 150ms ease-out; }

.button:focus,
.button:hover {
  background-color: #a0901f;
  color: #fff; }

.button:active {
  background-color: #756a17;
  color: #fff; }

*,
:after,
:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#select_meals p .Show_screen2_perv_wrap a,
#select_meals p .Show_screen3_perv_wrap a,
#select_meals p .Show_screen4_prev_wrap a,
.Show_screen2_perv_wrap #select_meals p a,
.Show_screen2_perv_wrap .btn,
.Show_screen2_perv_wrap .lang a,
.Show_screen3_perv_wrap #select_meals p a,
.Show_screen3_perv_wrap .btn,
.Show_screen3_perv_wrap .lang a,
.Show_screen4_prev_wrap #select_meals p a,
.Show_screen4_prev_wrap .btn,
.Show_screen4_prev_wrap .lang a,
.lang .Show_screen2_perv_wrap a,
.lang .Show_screen3_perv_wrap a,
.lang .Show_screen4_prev_wrap a {
  background-color: transparent;
  border-color: #fff; }

#select_meals p .Show_screen2_perv_wrap a:focus,
#select_meals p .Show_screen2_perv_wrap a:hover,
#select_meals p .Show_screen3_perv_wrap a:focus,
#select_meals p .Show_screen3_perv_wrap a:hover,
#select_meals p .Show_screen4_prev_wrap a:focus,
#select_meals p .Show_screen4_prev_wrap a:hover,
.Show_screen2_perv_wrap #select_meals p a:focus,
.Show_screen2_perv_wrap #select_meals p a:hover,
.Show_screen2_perv_wrap .btn:focus,
.Show_screen2_perv_wrap .btn:hover,
.Show_screen2_perv_wrap .lang a:focus,
.Show_screen2_perv_wrap .lang a:hover,
.Show_screen3_perv_wrap #select_meals p a:focus,
.Show_screen3_perv_wrap #select_meals p a:hover,
.Show_screen3_perv_wrap .btn:focus,
.Show_screen3_perv_wrap .btn:hover,
.Show_screen3_perv_wrap .lang a:focus,
.Show_screen3_perv_wrap .lang a:hover,
.Show_screen4_prev_wrap #select_meals p a:focus,
.Show_screen4_prev_wrap #select_meals p a:hover,
.Show_screen4_prev_wrap .btn:focus,
.Show_screen4_prev_wrap .btn:hover,
.Show_screen4_prev_wrap .lang a:focus,
.Show_screen4_prev_wrap .lang a:hover,
.lang .Show_screen2_perv_wrap a:focus,
.lang .Show_screen2_perv_wrap a:hover,
.lang .Show_screen3_perv_wrap a:focus,
.lang .Show_screen3_perv_wrap a:hover,
.lang .Show_screen4_prev_wrap a:focus,
.lang .Show_screen4_prev_wrap a:hover {
  border-color: #a0901f; }

#select_meals p .Show_screen2_perv_wrap a:active,
#select_meals p .Show_screen3_perv_wrap a:active,
#select_meals p .Show_screen4_prev_wrap a:active,
.Show_screen2_perv_wrap #select_meals p a:active,
.Show_screen2_perv_wrap .btn:active,
.Show_screen2_perv_wrap .lang a:active,
.Show_screen3_perv_wrap #select_meals p a:active,
.Show_screen3_perv_wrap .btn:active,
.Show_screen3_perv_wrap .lang a:active,
.Show_screen4_prev_wrap #select_meals p a:active,
.Show_screen4_prev_wrap .btn:active,
.Show_screen4_prev_wrap .lang a:active,
.lang .Show_screen2_perv_wrap a:active,
.lang .Show_screen3_perv_wrap a:active,
.lang .Show_screen4_prev_wrap a:active {
  border-color: #756a17; }

body {
  font-family: "PT Mono", monospace;
  font-size: 1em;
  color: #000;
  line-height: 1.45; }

#Show_screen3 input[type=text] {
  width: 100%;
  margin: 0; }

#Show_screen3 input[type=checkbox] {
  width: 15px;
  height: 15px; }

.main {
  width: 100%;
  min-height: 400px;
  padding: 0;
  position: relative; }

.gtd {
  float: left; }

.boxlr {
  float: left;
  width: 12px; }

.btop {
  border-top: #beaeae 1px solid;
  float: left;
  height: 8px;
  background-color: #fff; }

.btd {
  border-right: #beaeae 1px solid;
  padding-left: 7px;
  float: left;
  border-left: #beaeae 1px solid;
  width: 292px;
  background-color: #fff; }

.bmid {
  float: left;
  width: 284px;
  text-align: justify;
  height: 331px; }

.bbottom {
  float: left;
  width: 276px;
  border-bottom: #beaeae 1px solid;
  height: 9px;
  background-color: #fff; }

.float_left {
  float: left; }

#waitingscreen,
.frame {
  height: auto;
  padding: 10px 14px;
  margin: 0;
  display: none; }

#cbForatt_tr1 {
  min-width: 17px;
  width: 1%;
  height: 16px;
  margin-top: 3px;
  margin-right: 8px;
  float: left;
  display: inline-block; }

#cbForatt_tr1 input[type=checkbox] {
  width: 15px;
  height: 15px; }

#lang_AcceptTerms {
  display: inline-block;
  cursor: pointer;
  width: 85%;
  float: left;
  color: #9C1942;
  line-height: 27px;
  text-align: left;
  overflow: hidden; }

#cbForatt_tr {
  width: 100%;
  clear: both;
  margin: 5px 0; }

#notables_wl {
  width: 170px;
  margin: 100px 64px;
  position: absolute;
  text-align: center;
  background-color: #fff;
  border: solid 1px #bbb;
  padding: 5px;
  display: none; }

#notables_wl > div {
  margin: 0 0 10px; }

#notables_wl .button {
  width: 70px; }

#notables {
  width: 200px;
  margin: 100px 64px;
  position: absolute;
  text-align: center;
  background-color: #fff;
  border: solid 1px #bbb;
  display: none;
  color: #000; }

#notables_header {
  padding-top: 8px;
  background-color: #bbb;
  height: 15px; }

#notables_text {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 12px;
  position: relative; }

.content {
  vertical-align: top; }

.gtd2 {
  float: left;
  width: 288px; }

.boxlr2 {
  float: left;
  width: 12px; }

.btop2 {
  border-TOP: #beaeae 1px solid;
  float: left;
  width: 264px;
  height: 8px;
  background-color: #fff; }

.btd2 {
  border-right: #beaeae 1px solid;
  padding-left: 8px;
  float: left;
  border-left: #beaeae 1px solid;
  width: 278px;
  background-color: #fff; }

.bmid2 {
  float: left;
  width: 268px;
  text-align: justify;
  padding: 40px 0 0; }

.bbottom2 {
  float: left;
  width: 264px;
  border-bottom: #beaeae 1px solid;
  height: 9px;
  background-color: #fff; }

.text {
  padding: 0 4px;
  color: #000; }

.text a {
  color: #c09; }

.text a:hover {
  text-decoration: none; }

.screen2-footer {
  padding: 2px 0 0; }

.screen7-footer {
  padding: 70px 0 0; }

.clear {
  clear: both;
  margin: 0;
  padding: 0;
  height: 0; }

.heading {
  display: none; }

.heading .widget_head_line2 {
  text-transform: none;
  margin: 2px 0;
  color: #777; }

.subheading {
  color: #000;
  text-align: center; }

.contentlast {
  padding-top: 100px;
  color: #000; }

.select1 {
  width: 100%; }

.select2 {
  width: 52px; }

.select3 {
  width: 240px; }

.select4 {
  width: 52px; }

.calhead {
  margin: 0;
  padding: 0 15px;
  height: 35px;
  line-height: 35px; }

.calhead2 {
  width: 310px;
  height: 16px;
  text-align: center;
  padding: 2px 0 0;
  margin: 0;
  cursor: default; }

.calhead-l {
  float: left;
  width: 10%;
  padding-top: 12px; }

.calhead-m {
  float: left;
  color: #000;
  height: 35px;
  line-height: 35px;
  text-transform: uppercase;
  width: 80%;
  text-align: center; }

.calhead-r {
  float: right;
  width: 10%;
  padding-top: 12px; }

table.caltable {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  cursor: default; }

table.caltable th {
  padding: 0 5px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  text-align: center; }

table.caltable td {
  padding: 0 5px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #000;
  opacity: 0.35; }

table.caltable td.active {
  cursor: pointer;
  opacity: inherit; }

table.caltable td.active:hover {
  background: #9C1942;
  color: #fff;
  cursor: pointer; }

table.caltable td.active .on {
  background-color: #2e2012;
  padding: 0 5px;
  margin: 0 -5px;
  height: 40px;
  line-height: 40px;
  color: #fff; }

table.caltable td.deactive {
  background-color: #fff;
  color: #989898; }

table.caltable td.cross {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: not-allowed; }
  table.caltable td.cross:after, table.caltable td.cross:before {
    position: absolute;
    top: 50%;
    margin-top: -14px;
    left: 50%;
    margin-left: -1px;
    content: ' ';
    height: 28px;
    width: 2px;
    background-color: #9C1942; }
  table.caltable td.cross:before {
    transform: rotate(45deg); }
  table.caltable td.cross:after {
    transform: rotate(-45deg); }
  table.caltable td.cross:hover {
    cursor: not-allowed; }

#time {
  width: 100%; }

.time {
  padding: 10px 0;
  margin: 0 -.5%;
  border-top: 1px solid #000;
  text-align: center;
  *zoom: 1; }

.time:after,
.time:before {
  content: " ";
  display: table; }

.time:after {
  clear: both; }

.time a {
  display: inline;
  float: left;
  width: 32%;
  margin: .5%;
  text-decoration: none;
  padding: 8px;
  opacity: 0.35;
  border: 1px solid #000; }
  @media (min-width: 600px) {
    .time a {
      width: 19%;
      padding: 8px 20px; } }

.time a.activ {
  padding: 0 10px;
  text-decoration: none;
  transition: all .1s ease-in-out 0s;
  opacity: inherit;
  padding: 8px; }
  @media (min-width: 600px) {
    .time a.activ {
      padding: 8px 20px; } }

.time a.activ:hover {
  background: #9C1942;
  color: #fff;
  text-decoration: none; }

.time a.inactive {
  background-image: url(time-bg-inactive.gif);
  color: navy;
  background-repeat: no-repeat;
  display: none; }

.tabletext {
  text-align: right;
  padding: 0 5px 0 0;
  vertical-align: top; }

.tbold {
  vertical-align: top;
  white-space: nowrap; }

td.tbold {
  text-align: left; }

.tboldred {
  text-decoration: underline; }

#Shownext1 {
  color: Gray;
  padding-right: 19px;
  display: none; }

.footer {
  height: 39px;
  width: 100%;
  padding: 4px 0 0;
  position: absolute;
  bottom: 13px; }

.footer-confirm {
  width: 284px;
  padding: 4px 0 0;
  margin-top: 2px;
  margin-top: 90px; }

.footer a {
  color: #000;
  text-decoration: none; }

.footer a:hover {
  color: Gray; }

.footer img {
  margin-bottom: -5px; }

.footer-l {
  float: left;
  padding: 0;
  width: 95px; }

.footer-r {
  float: right;
  padding: 0;
  width: 189px;
  text-align: right;
  white-space: nowrap;
  display: none; }

.footer-r-confirm {
  float: right;
  height: 39px;
  padding: 20px 0 0;
  width: 189px;
  text-align: right;
  white-space: nowrap; }

#tbMedd {
  width: 100%; }

.waitingscreen {
  height: 32px;
  margin-top: 80px; }

#loadingText1,
#loadingText2,
#loadingText3 {
  margin: 0 auto;
  position: relative;
  margin-top: 80px;
  background-color: #efefef;
  padding: 20px;
  text-align: center;
  width: 200px;
  display: none;
  color: #000; }

.flag {
  position: absolute;
  right: 0;
  top: 0; }

#confirmation {
  text-align: left;
  padding-bottom: 20px; }

#dailyComment {
  padding: 0;
  padding-bottom: 0;
  margin: 10px 10% 10px 0px;
  text-align: left;
  height: auto;
  width: 90%;
  border-bottom: none; }

.select_seat_length_wrap {
  display: none;
  border-left: 0; }

.calendar_wrap {
  margin-top: 10px; }

a.next_day {
  color: #A0598F; }

.tooltip {
  position: absolute;
  padding: 5px;
  z-index: 2;
  color: #303030;
  background-color: #f5f5b5;
  border: 1px solid #DECA7E;
  font-family: "PT Mono", monospace;
  line-height: 18px;
  text-align: center; }

div.button {
  display: block;
  width: 130px;
  height: 18px;
  text-align: center;
  text-align: center;
  padding-top: 6px;
  border-radius: 5px;
  border: 1px solid #888;
  background-color: #efefef;
  box-shadow: 1px 1px 2px #888;
  cursor: pointer; }

.offer {
  border: 1px solid #000;
  margin: 15px 6px 3px;
  padding: 9px; }

.offer .title {
  color: #ea2222;
  margin-top: 3px; }

.offer .days {
  float: left;
  color: #666;
  font-style: italic; }

.offer_border {
  border-radius: 10px;
  box-shadow: 3px 3px 4px #888; }

.take_offer {
  color: #fff;
  background-color: #ea2222;
  border-radius: 3px;
  border: 1px solid #ca9898;
  padding: 3px;
  cursor: pointer;
  margin-top: 5px; }

.cursor_pointer {
  cursor: pointer;
  padding: 10px 5px; }

.not_offer {
  color: #fff;
  background-color: #404040;
  border-radius: 3px;
  border: 1px solid #ca9898;
  padding: 3px;
  cursor: pointer;
  margin-top: 5px; }

.clear_offer {
  cursor: pointer;
  float: left; }

#no_show_fee_tr > div {
  border: solid 1px #c9c9c9;
  background-color: #eaeaea;
  border-radius: 5px;
  color: #ab0b0e;
  padding: 8px;
  margin: 5px; }

.item-left {
  float: left; }

.item-right {
  float: right; }

.classname {
  width: 240px;
  margin: 20px 0 0;
  -moz-box-shadow: inset 0 1px 0 0 #b5b1b5;
  -webkit-box-shadow: inset 0 1px 0 0 #b5b1b5;
  box-shadow: inset 0 1px 0 0 #b5b1b5;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7a7a7a), color-stop(1, #a8a8a8));
  background: -moz-linear-gradient(center top, #7a7a7a 5%, #a8a8a8 100%);
  background-color: #7a7a7a;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #949494;
  display: inline-block;
  color: #f5f5f5;
  font-family: arial;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 1px 1px 0 #807b80; }

.classname:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a8a8a8), color-stop(1, #7a7a7a));
  background: -moz-linear-gradient(center top, #a8a8a8 5%, #7a7a7a 100%);
  background-color: #a8a8a8; }

.classname:active {
  position: relative;
  top: 1px; }

.rest_btn {
  position: relative;
  margin: 20px auto;
  display: block;
  width: 180px;
  text-decoration: none;
  padding: 8px 20px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #9C1942;
  border: 0; }

.rest_btn:focus,
.rest_btn:hover {
  background-color: #a0901f;
  color: #fff; }

.rest_btn:active {
  background-color: #756a17;
  color: #fff; }

@media (max-width: 320px) {
  .rest_btn {
    width: 100%; } }

.booking_comment {
  border: 0;
  background: #eee;
  width: 99%;
  height: 60px; }

.hide_on_fault {
  width: 32px;
  height: 32px;
  float: left;
  background-image: url(icon3.jpg);
  margin-right: 10px; }

.lang {
  text-align: left;
  padding-left: 105px;
  margin: 5px;
  text-decoration: none; }

#lang_FinishOrEmail {
  float: left; }

.cbJatack_wrap {
  float: left;
  margin: 5px 0 10px;
  display: inline-block;
  margin-right: 8px; }

#lang_SaveUserDetails {
  line-height: 16px;
  display: inline-block;
  margin: 10px 0 0 0;
  width: 80%;
  text-align: left; }

#cbJatack {
  padding: 0; }

#Date1,
#Date2,
#Date3,
#NumberPeople1,
#NumberPeople2,
#NumberPeople3,
#Time2,
#lang_BookingFullTime,
#lang_BookingSummary,
#meal_name1,
#meal_name2,
#meal_name3,
#verifyEmail,
#verifyName,
#verifyPhone,
#verifyTime2,
.email_wrap,
.firstname_wrap,
.lastname_wrap,
.phone_wrap,
.tbInviteEmail_wrap {
  display: inline-block;
  width: 75%;
  background: transparent !important;
  margin-bottom: 5px;
  word-wrap: break-word; }

.email_wrap,
.firstname_wrap,
.lastname_wrap,
.phone_wrap {
  width: 100%; }

.tbInviteEmail_wrap {
  margin: 0;
  margin-bottom: 10px;
  width: 100%; }

#lang_Booking2,
#lang_Date3,
#lang_Email4,
#lang_NumberOfPeople3,
#lang_Time4 {
  display: inline-block;
  vertical-align: top;
  width: 23%; }

#lang_Email4 {
  width: 100%;
  float: none;
  text-align: left;
  margin-top: 0px;
  border-top: 1px solid #000;
  padding-top: 0px; }

#lang_Email2 {
  top: 200px;
  float: left;
  margin: 2px;
  text-align: left;
  width: 23%; }

#lang_Booking,
#lang_Date1,
#lang_Date2,
#lang_Email3,
#lang_Name,
#lang_NumberOfPeople1,
#lang_NumberOfPeople2,
#lang_Telephone3,
#lang_Time2,
#lang_Time3,
#lang_Type1,
#lang_Type2 {
  display: inline-block;
  vertical-align: top;
  width: 23%; }

.firstname_wrap {
  margin-top: 10px; }

#lang_Email,
#lang_FirstName,
#lang_LastName,
#lang_Telephone {
  text-align: right;
  width: 82px;
  padding-top: 3px; }

#lang_PleaseVerify {
  width: 100%;
  margin: 10px 0;
  border-top: 1px solid #000;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 10px; }

.booking_comment_wrap {
  height: 60px;
  clear: both; }

#select_meals p a,
.btn,
.lang a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  margin: 10px 0 0;
  padding: 8px 20px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #9C1942;
  cursor: pointer;
  transition: all .1s ease-in-out 0s; }

.btn.previous {
  color: #000;
  padding: 8px 0; }

.btn.previous:hover {
  color: gray;
  background: none; }

#select_meals p a:focus,
#select_meals p a:hover,
.btn:focus,
.btn:hover,
.lang a:focus,
.lang a:hover {
  background-color: #dc255f; }

#select_meals p a:active,
.btn:active,
.lang a:active {
  background-color: #0f1115;
  border-color: #0f1115;
  color: #fff; }

@media (max-width: 320px) {
  #select_meals p a,
  .btn,
  .lang a {
    display: block;
    width: 100%; } }

#ShowCal {
  width: 100%; }

#Show_screen2,
#Show_screen3,
#Show_screen4,
#Show_screen6,
#Show_screen7 {
  margin: 0; }

.Show_screen1_perv_wrap {
  position: absolute;
  bottom: 18px;
  left: 18px; }

.Show_screen1_next_wrap {
  margin: 2px 0;
  display: none;
  float: right;
  clear: both; }

@media (max-width: 320px) {
  .Show_screen1_next_wrap {
    float: none; } }

.Show_screen2_perv_wrap {
  position: absolute;
  bottom: -30px;
  left: 14px; }

@media (max-width: 320px) {
  .Show_screen2_perv_wrap {
    right: 0; } }

.Show_screen3_next_wrap {
  float: right; }

@media (max-width: 320px) {
  .Show_screen3_next_wrap {
    float: none; } }

.Show_screen3_perv_wrap,
.Show_screen4_prev_wrap {
  float: left; }

@media (max-width: 320px) {
  .Show_screen3_perv_wrap,
  .Show_screen4_prev_wrap {
    float: none; } }

.Show_screen4_next_wrap {
  float: right;
  display: block !important; }

@media (max-width: 320px) {
  .Show_screen4_next_wrap {
    float: none; } }

.Show_screen5_prev_wrap,
.Show_screen6_prev_wrap {
  float: left; }

@media (max-width: 320px) {
  .Show_screen5_prev_wrap {
    position: relative;
    float: none; } }

@media (max-width: 320px) {
  .Show_screen6_prev_wrap {
    position: relative;
    float: none; } }

.Show_screen5_next_wrap,
.Show_screen6_next_wrap {
  float: right; }

@media (max-width: 320px) {
  .Show_screen5_next_wrap {
    float: none; } }

@media (max-width: 320px) {
  .Show_screen6_next_wrap {
    float: none; } }

#selected_seating_time {
  padding: 5px;
  width: 100%; }

#select_meals {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
  margin-top: 20px; }

#select_meals p {
  padding: 5px 0; }

#select_meals p a,
.lang a {
  display: block;
  width: 100%; }

#select_meals p a:hover,
.lang a:hover {
  color: #fff;
  text-decoration: none; }

#heading2,
#heading3,
#heading4,
#heading6 {
  margin-bottom: 9px; }

#no_show_fee_tr {
  margin: 0px 5px 20px 5px; }

#hide_on_fault {
  display: none; }

#lang_PickADate {
  margin-bottom: 10px; }

#lang_PickADate_st {
  margin-bottom: 2px;
  display: none; }

.bwrapl {
  float: left;
  width: 75%;
  padding-right: 10px; }

.bwrapr {
  float: right;
  width: 25%;
  margin: 0; }

@media (max-width: 320px) {
  .bwrapl,
  .bwrapr {
    float: none;
    width: auto;
    padding-right: 0;
    margin-top: 10px; }
  .bwrapl:first-child,
  .bwrapr:first-child {
    margin-top: 0; } }

.increment_month {
  position: relative;
  float: right;
  width: 8px;
  height: 13px;
  cursor: pointer; }
  .increment_month:after {
    right: -8px;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-left-color: #000000;
    border-width: 8px;
    margin-top: -8px; }

.decrement_month {
  position: relative;
  width: 8px;
  height: 13px;
  margin-left: 7px;
  cursor: pointer; }
  .decrement_month:after {
    left: -8px;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-right-color: #000000;
    border-width: 8px;
    margin-top: -8px; }

#lang_Cancelled {
  position: absolute;
  bottom: 170px;
  left: olx;
  text-align: center;
  width: 100%; }

:unchecked + div#button_Book.btn.next {
  background: #2D3540 !important; }

:checked + div#button_Book.btn.next {
  background: #00C6FF !important; }

/*# sourceMappingURL=booking-system.css.map */